<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PowerDNS - Configuration</title>
</head>
<body>
    <h2>PowerDNS - Configuration</h2>
    <form method="post" onsubmit="this.querySelector('button').disabled = true;">
        <fieldset>
            <legend>Connexion API</legend>

            <label>URL de l'API PowerDNS :</label><br>
            <input type="url" name="api_url" required><br><br>

            <label>Token d'API :</label><br>
            <input type="text" name="api_token" required><br><br>

        </fieldset>
        <button type="submit">Enregistrer & Continuer</button>
    </form>
</body>
</html>
