<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hetzner DNS - Configuration</title>
</head>
<body>
    <h2>Hetzner - Configuration</h2>
    <form method="post" onsubmit="this.querySelector('button').disabled = true;">
        <fieldset>
            <legend>Token d'accès API</legend>

            <label>Token d'API Hetzner :</label><br>
            <input type="text" name="api_token" required><br><br>

        </fieldset>
        <button type="submit">Enregistrer & Continuer</button>
    </form>
</body>
</html>
