<!DOCTYPE html>
<html>
<head>
    <title>SeedDock - Création de l'administrateur</title>
    <meta charset="utf-8">
</head>
<body>
    <pre>{{ logo }}</pre>
    <h1>👤 Création du compte administrateur</h1>
    <form action="/step1" method="post">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Continuer ➡️</button>
    </form>
</body>
</html>
